In [1]:
%reload_ext autoreload
%autoreload 2

import os
import sys

# Add the root folder to the module search path
root_folder = os.path.dirname(os.getcwd())
sys.path.append(root_folder)
print(os.getcwd())

/home/ubuntu/plotano/plotano

In [2]:
from plotano.db.qa_database import QuestionAnswerDatabase

In [4]:

db = QuestionAnswerDatabase(
    # db_file = "/Users/lingjiekong/Documents/github/cambioml/plotano/plotano/db/qa.db",
    debug=True)

Table contents after creating table:

In [5]:
db.create_table()

Table contents after creating table:

In [6]:
id = db.insert_question_answer(question="Who is Rachel?", answer="CEO of CambioML")
id = db.insert_question_answer(question="Who is Jared?", answer="CTO of CambioML")
id = db.insert_question_answer(question="Who is Kimi?", answer="Nobody of CambioML")

Table contents after inserting table:
ID: 1, Question: Who is Rachel?, Answer: CEO of CambioML, Timestamp: 2023-07-20 06:48:36.938696, Vote Status: n/a
Table contents after inserting table:
ID: 1, Question: Who is Rachel?, Answer: CEO of CambioML, Timestamp: 2023-07-20 06:48:36.938696, Vote Status: n/a
ID: 2, Question: Who is Jared?, Answer: CTO of CambioML, Timestamp: 2023-07-20 06:48:36.943589, Vote Status: n/a
Table contents after inserting table:
ID: 1, Question: Who is Rachel?, Answer: CEO of CambioML, Timestamp: 2023-07-20 06:48:36.938696, Vote Status: n/a
ID: 2, Question: Who is Jared?, Answer: CTO of CambioML, Timestamp: 2023-07-20 06:48:36.943589, Vote Status: n/a
ID: 3, Question: Who is Kimi?, Answer: Nobody of CambioML, Timestamp: 2023-07-20 06:48:36.947053, Vote Status: n/a

In [7]:
db.update_vote_status(id=1, vote_status="up")
db.update_vote_status(id=2, vote_status="up")
db.update_vote_status(id=3, vote_status="down")

Table contents after updating table:
ID: 1, Question: Who is Rachel?, Answer: CEO of CambioML, Timestamp: 2023-07-20 06:48:36.938696, Vote Status: up
ID: 2, Question: Who is Jared?, Answer: CTO of CambioML, Timestamp: 2023-07-20 06:48:36.943589, Vote Status: n/a
ID: 3, Question: Who is Kimi?, Answer: Nobody of CambioML, Timestamp: 2023-07-20 06:48:36.947053, Vote Status: n/a
Table contents after updating table:
ID: 1, Question: Who is Rachel?, Answer: CEO of CambioML, Timestamp: 2023-07-20 06:48:36.938696, Vote Status: up
ID: 2, Question: Who is Jared?, Answer: CTO of CambioML, Timestamp: 2023-07-20 06:48:36.943589, Vote Status: up
ID: 3, Question: Who is Kimi?, Answer: Nobody of CambioML, Timestamp: 2023-07-20 06:48:36.947053, Vote Status: n/a
Table contents after updating table:
ID: 1, Question: Who is Rachel?, Answer: CEO of CambioML, Timestamp: 2023-07-20 06:48:36.938696, Vote Status: up
ID: 2, Question: Who is Jared?, Answer: CTO of CambioML, Timestamp: 2023-07-20 06:48:36.943589, Vote Status: up
ID: 3, Question: Who is Kimi?, Answer: Nobody of CambioML, Timestamp: 2023-07-20 06:48:36.947053, Vote Status: down

In [8]:
my_sql_data = db.retrieve_all_question_answers()
my_sql_data

[(1, 'Who is Rachel?', 'CEO of CambioML', '2023-07-20 06:48:36.938696', 'up'),
 (2, 'Who is Jared?', 'CTO of CambioML', '2023-07-20 06:48:36.943589', 'up'),
 (3,
  'Who is Kimi?',
  'Nobody of CambioML',
  '2023-07-20 06:48:36.947053',
  'down')]

In [10]:
from plotano.db.qa_database import CSV_HEADER
header = CSV_HEADER
print("header: {}".format(header))

common_header = ['ID', 'Question', 'Answer']

header: ('ID', 'Question', 'Answer', 'Timestamp', 'Vote Status')

In [11]:
import csv

my_sql_data_path = 'my_sql_data.csv'
with open(my_sql_data_path, 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(header)
    writer.writerows(my_sql_data)

In [8]:
# db.close_connection()

### Load my_data to RLHF

In [12]:
import pandas as pd
my_data_hf = pd.read_csv(my_sql_data_path)[common_header]
my_data_hf

   ID        Question              Answer
0   1  Who is Rachel?     CEO of CambioML
1   2   Who is Jared?     CTO of CambioML
2   3    Who is Kimi?  Nobody of CambioML

In [14]:
# !pip install fastparquet

Collecting fastparquet
  Downloading fastparquet-2023.7.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 12.4 MB/s eta 0:00:00 0:00:01
Requirement already satisfied: pandas>=1.5.0 in /opt/conda/envs/trl/lib/python3.10/site-packages (from fastparquet) (2.0.3)
Requirement already satisfied: numpy>=1.20.3 in /opt/conda/envs/trl/lib/python3.10/site-packages (from fastparquet) (1.25.1)
Collecting cramjam>=2.3 (from fastparquet)
  Downloading cramjam-2.6.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 106.6 MB/s eta 0:00:00
Requirement already satisfied: fsspec in /opt/conda/envs/trl/lib/python3.10/site-packages (from fastparquet) (2023.6.0)
Requirement already satisfied: packaging in /opt/conda/envs/trl/lib/python3.10/site-packages (from fastparquet) (23.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/envs/trl/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/envs/trl/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/envs/trl/lib/python3.10/site-packages (from pandas>=1.5.0->fastparquet) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/trl/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)
Installing collected packages: cramjam, fastparquet
Successfully installed cramjam-2.6.2 fastparquet-2023.7.0

In [13]:

stackoverflow_dataset = pd.read_parquet('/home/ubuntu/datasets/train-00000-of-00020.parquet', engine='fastparquet', index=False)
stackoverflow_dataset.head()

,qid,question,date,metadata,response_j,response_k
0,12891264,I am using jQuery fileupload plugin and I want...,2012/10/15,"[https://Stackoverflow.com/questions/12891264,...","Looking at the library code, seems all events ...",Check if the server-side uploading script retu...
1,588860,When reading about the Big Bang you’ll commonl...,2020/10/22,[https://physics.stackexchange.com/questions/5...,No. The local energy *density* is reduced as t...,Are you aware of redshift? If a photon with a ...
2,141736,I've got a flight back to my own country with ...,2019/07/09,[https://travel.stackexchange.com/questions/14...,12:45 pm is also 12:45 o'clock in internationa...,PM is an acronym for the Latin *post meridiem*...
3,1484683,I have a piece of code that works fine in the ...,2009/09/27,"[https://Stackoverflow.com/questions/1484683, ...",I had this exact same problem. The only way I ...,"In your console, the rails environment is load..."
4,1484683,I have a piece of code that works fine in the ...,2009/09/27,"[https://Stackoverflow.com/questions/1484683, ...",I had this exact same problem. The only way I ...,Did you tell rake that your task is dependent ...

In [14]:
my_stackoverflow_dataset = stackoverflow_dataset[['qid', 'question', 'response_j']]
my_stackoverflow_dataset.head()

,qid,question,response_j
0,12891264,I am using jQuery fileupload plugin and I want...,"Looking at the library code, seems all events ..."
1,588860,When reading about the Big Bang you’ll commonl...,No. The local energy *density* is reduced as t...
2,141736,I've got a flight back to my own country with ...,12:45 pm is also 12:45 o'clock in internationa...
3,1484683,I have a piece of code that works fine in the ...,I had this exact same problem. The only way I ...
4,1484683,I have a piece of code that works fine in the ...,I had this exact same problem. The only way I ...

In [15]:
my_stackoverflow_dataset.columns = common_header
my_stackoverflow_dataset.head()

,ID,Question,Answer
0,12891264,I am using jQuery fileupload plugin and I want...,"Looking at the library code, seems all events ..."
1,588860,When reading about the Big Bang you’ll commonl...,No. The local energy *density* is reduced as t...
2,141736,I've got a flight back to my own country with ...,12:45 pm is also 12:45 o'clock in internationa...
3,1484683,I have a piece of code that works fine in the ...,I had this exact same problem. The only way I ...
4,1484683,I have a piece of code that works fine in the ...,I had this exact same problem. The only way I ...

In [16]:
my_data_hf = pd.concat([my_data_hf, my_stackoverflow_dataset])
my_data_hf.head(10)

,ID,Question,Answer
0,1,Who is Rachel?,CEO of CambioML
1,2,Who is Jared?,CTO of CambioML
2,3,Who is Kimi?,Nobody of CambioML
0,12891264,I am using jQuery fileupload plugin and I want...,"Looking at the library code, seems all events ..."
1,588860,When reading about the Big Bang you’ll commonl...,No. The local energy *density* is reduced as t...
2,141736,I've got a flight back to my own country with ...,12:45 pm is also 12:45 o'clock in internationa...
3,1484683,I have a piece of code that works fine in the ...,I had this exact same problem. The only way I ...
4,1484683,I have a piece of code that works fine in the ...,I had this exact same problem. The only way I ...
5,54589610,Gradle sync is failing after I updated its ver...,Following steps helps me - \n\n1. Change the *...
6,58521105,The below code groups the result (a List of Cl...,You are selecting `InnerList` from non-grouped...

In [17]:
my_data_hf.head(100).to_csv(my_sql_data_path)

### Load to huggingface

In [18]:
from datasets import load_dataset
ds = load_dataset('csv', data_files=my_sql_data_path)

/opt/conda/envs/trl/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading and preparing dataset csv/default to /home/ubuntu/.cache/huggingface/datasets/csv/default-25073f017225eda6/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d...

Downloading data files: 100%|██████████| 1/1 [00:00<00:00, 7206.71it/s]
Extracting data files: 100%|██████████| 1/1 [00:00<00:00, 1244.97it/s]

Dataset csv downloaded and prepared to /home/ubuntu/.cache/huggingface/datasets/csv/default-25073f017225eda6/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d. Subsequent calls will reuse this data.

100%|██████████| 1/1 [00:00<00:00, 825.16it/s]

In [19]:
ds = ds['train'] # Convert DatasetDict to Dataset

ds = ds.train_test_split(test_size=0.1)
ds

DatasetDict({
    train: Dataset({
        features: ['Unnamed: 0', 'ID', 'Question', 'Answer'],
        num_rows: 90
    })
    test: Dataset({
        features: ['Unnamed: 0', 'ID', 'Question', 'Answer'],
        num_rows: 10
    })
})

In [21]:
train_dataset = ds["train"]
test_dataset = ds["test"]

train_dataset, test_dataset

(Dataset({
     features: ['Unnamed: 0', 'ID', 'Question', 'Answer'],
     num_rows: 90
 }),
 Dataset({
     features: ['Unnamed: 0', 'ID', 'Question', 'Answer'],
     num_rows: 10
 }))

### Test RLHF code with DB

In [28]:
from plotano.rlhf.rlhf import RLHFConfig

config = RLHFConfig(
    base_model_path="meta-llama/Llama-2-7b-hf", ## "distilroberta-base", ##
    reward_model_path="databricks/dolly-v2-3b", 
    dataset_type="csv", ## "huggingface", ## 
    dataset_name='/home/ubuntu/plotano/plotano/my_sql_data.csv',
    max_steps=3,
    output_dir="../tests/",
    dataset_subset_reward_train=100,
)

In [29]:
from plotano.rlhf.rlhf import SFT ##, RewardTrainer, RL

rlhf_step1_sft = SFT(config)

Found cached dataset csv (/home/ubuntu/.cache/huggingface/datasets/csv/default-25073f017225eda6/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d)
100%|██████████| 1/1 [00:00<00:00, 528.58it/s]
Loading cached split indices for dataset at /home/ubuntu/.cache/huggingface/datasets/csv/default-25073f017225eda6/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d/cache-3480f33d056ef486.arrow and /home/ubuntu/.cache/huggingface/datasets/csv/default-25073f017225eda6/0.0.0/eea64c71ca8b46dd3f537ed218fc9bf495d5707789152eb2764f5c78fa66d59d/cache-f0354e2d06d9ddca.arrow

Size of the train set: 90. Size of the validation set: 10

Loading checkpoint shards: 100%|██████████| 2/2 [00:52<00:00, 26.36s/it]
/opt/conda/envs/trl/lib/python3.10/site-packages/peft/utils/other.py:102: FutureWarning: prepare_model_for_int8_training is deprecated and will be removed in a future version. Use prepare_model_for_kbit_training instead.
  warnings.warn(
Using pad_token, but it is not set yet.
/opt/conda/envs/trl/lib/python3.10/site-packages/trl/trainer/sft_trainer.py:159: UserWarning: You didn't pass a `max_seq_length` argument to the SFTTrainer, this will default to 1024
  warnings.warn(
/opt/conda/envs/trl/lib/python3.10/site-packages/trl/trainer/sft_trainer.py:212: UserWarning: You passed `packing=True` to the SFTTrainer, and you are training your model with `max_steps` strategy. The dataset will be iterated until the `max_steps` are reached.
  warnings.warn(

In [30]:
rlhf_step1_sft.train_and_save("../rlhf_tests/step1_07200008")

/opt/conda/envs/trl/lib/python3.10/site-packages/transformers/optimization.py:411: FutureWarning: This implementation of AdamW is deprecated and will be removed in a future version. Use the PyTorch implementation torch.optim.AdamW instead, or set `no_deprecation_warning=True` to disable this warning
  warnings.warn(
/opt/conda/envs/trl/lib/python3.10/site-packages/trl/trainer/utils.py:268: UserWarning: The dataset reached end and the iterator is reset to the start.
  warnings.warn("The dataset reached end and the iterator is reset to the start.")
You're using a LlamaTokenizerFast tokenizer. Please note that with a fast tokenizer, using the `__call__` method is faster than using a method to encode the text followed by a call to the `pad` method to get a padded encoding.
`use_cache=True` is incompatible with gradient checkpointing. Setting `use_cache=False`...
/opt/conda/envs/trl/lib/python3.10/site-packages/bitsandbytes/autograd/_functions.py:321: UserWarning: MatMul8bitLt: inputs will be cast from torch.float32 to float16 during quantization
  warnings.warn(f"MatMul8bitLt: inputs will be cast from {A.dtype} to float16 during quantization")